header {
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
    max-width: 1200px;
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
}

.logo-img {
    width: 56px;
    height: 100%;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}